<% permalink = config.url + config.root + post.path %>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
      		<%- post.content %>
            <div class="clearfix"></div>
            <hr class="nogutter">
        </div>
        <%- partial('post/navigation') %>
        <div class="col-md-8 col-md-offset-2 col-sm-24"><%- partial('post/comments') %></div>
    </div>
    <footer class="article-footer">
      <a data-url="<%- url_for(post.path) %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && theme.duoshuo_short_name){ %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
      <% if (!index){ %>
        <span id="busuanzi_container_page_pv" style="color: #999; margin-left: 30px">
          &阅读量<span id="busuanzi_value_page_pv"></span>次
        </span>
      <% } %>
    </footer>
</section>
